---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
    blog: CollectionEntry<"blog">;
    class?: string;
}

const { blog, class: className } = Astro.props;
---

<a
    href={`/blog/${blog.slug}`}
    class:list={[
        "contents-fit group relative rounded-lg backdrop-blur-lg",
        className,
    ]}
>
    <div
        class="rounded-lg p-4 transition-all ease-in-out hover:bg-mainlight md:p-8"
    >
        {
            blog.data.cover && (
                <div
                    class="mx-auto my-4 mt-0 aspect-auto h-[200px] overflow-hidden rounded-lg object-cover md:h-[250px] lg:h-[350px]"
                    transition:name={`image-${blog.slug}`}
                >
                    <Image
                        src={blog.data.cover}
                        alt={blog.data.title}
                        class={`aspect-auto h-[200px] object-cover transition-all ease-in-out group-hover:scale-105 md:h-[250px] lg:h-[350px] ${blog.data.image_position} min-w-full`}
                        loading="eager"
                    />
                </div>
            )
        }

        <div class="">
            <h2
                transition:name={`title-${blog.slug}`}
                class="my-4 text-3xl font-bold leading-[1.2] decoration-wavy decoration-2 underline-offset-4 transition-all ease-in-out hover:text-maindark group-hover:underline md:text-5xl md:leading-[1.2]"
            >
                {blog.data.title}
            </h2>
        </div>

        <div
            class="flex grow flex-wrap items-center gap-2 gap-y-4 text-sm"
            transition:name={`blog-meta-${blog.slug}`}
        >
            <span class="text-lg font-bold">
                {
                    blog.data.date.toLocaleDateString(undefined, {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                    })
                }
                <span class="hidden md:inline"> •</span>
            </span>
            <div class="flex flex-wrap gap-2 gap-y-4">
                {
                    blog.data.tags.map((v) => (
                        <div class="not-prose">
                            <div class="not-prose box-border rounded-full border-2 border-maindark bg-maindark px-2 py-1 text-mainlight">
                                {v}
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</a>
