---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

type BlogPost = Awaited<ReturnType<typeof getCollection>>[0];

export let post: BlogPost;

type Props = {
    post: BlogPost;
};

const { post: v } = Astro.props;

function extractDesc(md: string) {
    const lines = md.trim().split("\n");

    let desc = "";
    for (const line of lines) {
        if (line.startsWith("#")) break;
        if (line.startsWith("```")) break;
        if (line.startsWith("---")) break;
        if (line == "") break;
        desc += line + "\n";
    }
    return desc;
}
---

<div
    class="contents-fit group relative"
    transition:name={`blog-card-${v.slug}`}
>
    <div class="absolute z-[-10] h-full w-full rounded bg-maindark"></div>
    <div
        class="flex flex-col-reverse justify-between gap-4 rounded border-2 border-maindark bg-mainlight p-4 transition-all ease-in-out group-hover:translate-x-[-0.75rem] group-hover:translate-y-[-0.75rem] sm:h-52 sm:flex-row"
    >
        <div class="flex flex-col justify-between gap-2">
            <p class="line-clamp-5 text-sm">
                <a
                    class="block select-text text-lg font-bold decoration-wavy underline-offset-4 hover:underline"
                    transition:name={`title-${v.slug}`}
                    href={`/blog/${v.slug}`}
                >
                    {v.data.title}
                </a>
                {extractDesc(v.body)}
            </p>
            <div class="flex gap-2 overflow-hidden text-sm">
                {
                    v.data.tags.map((v) => (
                        <a
                            href={`/blog/tag/${v}`}
                            class="box-border rounded-full border-2 border-maindark bg-maindark px-2 py-1 text-mainlight transition-all hover:bg-mainlight hover:text-maindark"
                        >
                            {v}
                        </a>
                    ))
                }
            </div>
        </div>
        {
            v.data.cover && (
                <a href={`/blog/${v.slug}`} class="h-full lg:shrink">
                    <Image
                        src={v.data.cover}
                        alt=""
                        class={`aspect-[4/3] h-full w-full rounded border-2 border-maindark object-cover sm:w-auto sm:min-w-[16rem] lg:aspect-auto lg:min-w-[10rem] ${v.data.image_position}`}
                        transition:name={`image-${v.slug}`}
                    />
                </a>
            )
        }
    </div>
</div>
