---
import { extractDesc } from "@/utils/string";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type BlogPost = CollectionEntry<"blog">;

export let post: BlogPost;

type Props = {
    post: BlogPost;
    class?: string;
};

const { post: v, class: className } = Astro.props;
---

<a
    class:list={[
        "contents-fit group relative cursor-pointer rounded",
        className,
    ]}
    transition:name={`blog-card-${v.slug}`}
    href={`/blog/${v.slug}`}
>
    <div
        class="group flex flex-col justify-between gap-4 rounded p-4 transition-all ease-in-out
        hover:bg-mainlight sm:h-52 sm:flex-row"
    >
        {
            v.data.cover && (
                <div class="aspect-[21/9] h-full overflow-hidden rounded-lg  object-cover sm:aspect-auto sm:min-w-[12rem] sm:shrink md:min-w-[16rem]">
                    <Image
                        src={v.data.cover}
                        alt=""
                        class={` h-full w-full rounded object-cover object-center transition-all ease-in-out group-hover:scale-105 sm:w-48 md:w-64 ${v.data.image_position}`}
                        transition:name={`image-${v.slug}`}
                    />
                </div>
            )
        }
        <div class="flex flex-col justify-between gap-2">
            <p class="line-clamp-5 text-sm">
                <span
                    class="block select-text text-lg font-bold decoration-wavy decoration-2 underline-offset-4 transition-all ease-in-out hover:text-maindark group-hover:underline"
                    transition:name={`title-${v.slug}`}
                >
                    {v.data.title}
                </span>
                {extractDesc(v.body)}
            </p>
            <div
                class="flex h-7 flex-wrap items-center gap-x-2 overflow-hidden text-sm"
            >
                <span class="font-bold">
                    {
                        v.data.date.toLocaleDateString(undefined, {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })
                    }
                    <span class="ml-1 hidden md:inline">•</span>
                </span>
                {
                    v.data.tags.map((v) => (
                        <div class="box-border h-7 overflow-clip rounded-full border-2 border-maindark bg-maindark px-2 py-[2px] text-mainlight transition-all">
                            {v}
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</a>
